body{
    margin: 0px;
    position: relative;
    overflow-x: hidden;
}


/* Barre de menu */
header{
    color: #FFFCF0;    
}
.nav_bar{
    position: relative;
    background-color: #43A320;
    height: 5vw;
    box-shadow: 0px 0.3125vw 0.25vw rgb(0,0,0,0.25);
    z-index: 2;
}
.menu{
    position: absolute;
    width: 8.4375vw;
    height: 5vw;
    cursor: default; 
    z-index: 2;

    font-size: 3.375vw;
    text-align: center;
    line-height: 5vw;
}
.menu_icon{
    position: absolute;
    width: 8.4375vw;
    height: 5vw;
    cursor: default;
    z-index: 2;   

    font-size: 4vw;
    text-align: center;
    line-height: 5vw;
}
.header_title{
    position: absolute;
    margin-top: 1.25vw;
    left: 9vw;
    
    font-family: Raleway;
    font-size: 2vw;
    text-transform: uppercase;
}
.donation_button{
    background-color: #289400;
    position: absolute;
    width: 15.625vw;
    height: 3vw;
    margin-top: 1vw;
    right: 2vw;
    border-radius: 3vw;
    box-shadow: 0.3125vw 0.3125vw rgb(32,34,30,0.75); 
    transition: transform 0.5s ease, box-shadow 0.5s ease;   
}
.donation_button_content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;

    font-family: Raleway;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    line-height:auto;
}
.global_banner{
    position: relative;
    z-index: 1;
}
.banner{
    width: 100vw;
    height: 28vw;
    box-shadow: 0px 0.3125vw 0.25vw rgb(0,0,0,0.25);    
}
.logo{
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
}

/* Menu */
.menu_list {
    display: none;
    position: absolute;
    margin-top:5vw;
    width: 16vw;
    background-color: #289400;
}
.menu_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.menu_list ul li{
    height: 4vw;
    width: 16vw;
    display: flex;
    align-items: center;
}
.menu_list ul  li {
    padding-left: 2.3125vw;
    font-family: Raleway;
    color: #FFFCF0;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
}
.menu_list ul li img{
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin-left: 9.625vw;
}


/* Contenu de la page */
.body_content{
    position: relative;
    

    line-height: 3.33vw;
    font-family: "Nunito";
}
.title{
    position: relative;
    margin-top: 2.7%;

    font-family: Raleway;
    font-size: 4vw;
    line-height: 4.66vw;
    text-align: center;
}
.content{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 2.7%;
    left: 50%;
    transform: translate(-50%);
    
    text-align: center;
    font-size: 2vw;
}

/* Acceuil */
.cta_bar{
    background-color: #43A320;
    position: relative;
    height: 16.68vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 0.3125vw 0.25vw rgb(0,0,0,0.25); 

    color: #FFFCF0;
    text-align: center;
}
.donation_explain{
    height: 7.68vw;
    font-size: 2vw;
    line-height: 2.5vw;
}
.cta_bar_button{
    background-color: #289400;
    width: 20.25vw;
    height: 4vw;
    
    border-radius: 4vw;
    transition: transform 0.5s, box-shadow 0.5s;    
}
.cta_bar_button_content{
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFCF0;
    font-family: Raleway;
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    line-height:2.5vw;
}
.act{
    position: relative;
}
.act_button{
    background-image: url("../images/image.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 34.82vw;
    height: 19.63vw;
    margin: 3.125vw auto auto auto;
    border-radius: 3.125vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}
.act_button_content{
    position: absolute;
    border-radius: 3.125vw;
    z-index: 2;

    color:#FFFCF0;
    font-family: Raleway;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
}


/* Actualités */
.article{
    background-color: #289400;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2.8% 4.4% 0% 4.4% ;
    padding: 0% 6.09% 0% 6.09%;
    border-radius:  3.125vw;
    color: #FFFCF0;
}
.article_title{
    margin-top: 7.1%;
    width: fit-content;

    font-family: Raleway;
    line-height: 24px;
    font-size: 2.25vw;
    text-decoration: underline;
}
.article_content{
    padding-right: 2.5vw;
    margin-bottom: 7.3%;
    margin-right: 20px;

    font-size: 1.5vw;
    line-height: 3.33vw;
}
.article_content a{
    color: #18C1FF;
    text-decoration: underline;
}
.image {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 24vw;
    height: auto;
}

/* Agenda */
.event{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.12vw ;
    border-radius:1.5625vw;
    background-color: #AFD690;
    width: 82vw;
    height:max-content;
}
.event_title{
    background: #43A320;
    box-shadow: 0px 5px 4px rgb(32,34,30,0.25);
    border-radius: 1.5625vw 1.5625vw 0 0;
    color: #FFFCF0;
    font-family: Raleway;
    font-size: 2vw;
    text-align: center;
}
.event_description{
    padding-left: 1vw;
    padding-right: 1vw;
}
.event_description p{
    margin-top: 1.875vw;
    padding-bottom: 1.875vw;
    color: #20221E;
    font-family: "Nunito";
    font-size: 1.5vw;
    text-align: center;
    line-height: 2.5vw;

}
/* Contact */
.contact {
    background-color: #289400;
    position: relative;
    display: inline-block;
    color : white;
    border-radius: 3.125vw;
    color: #FFFCF0;
    width: 24vw;
    height: 24vw;
    text-align: center;
    margin-left: 37.9vw;
}

.email {
    padding-top: 3.62vw;
    line-height: normal;
    font-family: Raleway;
    color: #FFFCF0;
    text-align: center;
    font-size: 2.25vw;
}

.phone {
    padding-top: 1.13vw;
    line-height: normal;
    font-family: Raleway;
    color: #FFFCF0;
    text-align: center;
    font-size: 2.25vw;
}

.reseaux {
    padding-top: 1.13vw;
    line-height: normal;
    font-family: Raleway;
    color: #FFFCF0;
    text-align: center;
    font-size: 2.25vw;
}

.email_txt {
    color: #FFFCF0;
    line-height: normal;
    font-family: Nunito;
    font-size: 1.5vw;
}

.phone_txt {
    color: #FFFCF0;
    line-height: normal;
    font-family: Nunito;
    font-size: 1.5vw;
}

.reseaux_txt {
    color: #18C1FF;
    line-height: normal;
    font-family: Nunito;
    font-size: 1.5vw;
}

.email img {
    width: 1.5vw;
    height: 1.5vw;
    flex-shrink: 0;
}

.phone img {
    width: 1.5625vw;
    height: 1.64619vw;
    flex-shrink: 0;
}


/* Footer */
footer{
    position: relative;
    background-color: #43A320;
    height: 5vw;
    margin-top: 4.5vw;
    display: flex;
    align-items: center;
}
.footer_content{
    position: relative;
    width: 100%;
    margin-left: 4vw;

    color: #FFFCF0;
    font-family: "Nunito";
    font-size: 1vw;
    line-height: auto;

}

/* Affichage hover */
.menu_icon:hover{
    font-size: 4.375vw;
    background-color: #144A00;
}
.donation_button:hover{
    transform: scale(0.95);
    transform: translate(0.3125vw,0.125vw);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: none;
    cursor: pointer;
}
.cta_bar_button:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow:  inset 0.125vw 0.0625vw 0.625vw rgb(32,34,30,0.75);
    cursor: pointer;
}
.act_button:hover{
    cursor: pointer;
    transform: scale(1.05);
    font-size: 105%;
    transition: transform 0.3s, font-size 0.1s; 
}
.menu ul a li:hover{
    background-color: #144A00;
    cursor: pointer;
}
.menu ul a li .name:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.menu:hover .menu_list {
    display: block;
    transition: display 0.3s ease;
}
.menu_list ul a li:hover .name{
    transform: scale(1.05);
}
.mentions:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s
}
.lien_mention:hover{
    color: #18CFFF;
}


/*Ma partie*/



a{
    color: #FFFCF0;
    text-decoration: none;
}

.mentions{
    text-decoration: none;
    color: #FFFCF0;
}

.mentions:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.3s
}

form{
    color: #20221E;
    background-color: #AFD690;
    text-align: center;
    width: 19.2vw;
    border-radius: 1.25vw;
}

form h1{
    border-top-right-radius: 1.25vw;
    border-top-left-radius: 1.25vw;
    font-family: Raleway;
    font-size: 1.7999999999999998vw;
    color: #FFFCF0;
    text-align: center;
    text-transform: uppercase;
    background-color: #289400;
    padding: 0.5vw;
    box-shadow: 0px 5px 4px rgb(0,0,0,0.25);
}

form label{
    font-family:"Nunito";
    font-size: 0.8vw;
}

form ::placeholder{
    font-size: 1vw;
}

form input{
    font-family:"Nunito";
    margin: 0.2vw;
    border:none;
    height: 3.7vw;
    width: 16.5vw;
    font-weight: bold;
    border-radius: 1.25vw;
}

.aligne{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkstyle{   

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance:initial;
    -border-radius: 1.25vw; 
    background: #fff;
    border: 1px solid #ccc;
    width: 1vw;
    height: 1vw;
}


.checkstyle:checked {
    background: #289400;    
    
    &:before {
      visibility: hidden;
    }

  }


.lesTrois{
    display: flex;
    align-items: flex-start;
    width: 62vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.don{
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    place-items: top;

}




.valid{
    border-radius: 20vw;
    border: none;
    background-color: #43A320;
    color:#FFFCF0;
    font-family: Raleway;
    font-size: 1.7999999999999998vw;
    width: 10.100000000000001vw;
    height: 3.2vw;
}

.valid:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow:  inset 2px 1px 10px rgb(32,34,30,0.75);
    cursor: pointer;
}

h1{
    font-size: 2.4vw;
    font-family: Raleway;
    font-weight: bold;
    color: #20221E;
}
p,ul{
    font-size: 1.6vw;
    font-family: "Nunito";
    font-weight: lighter;
    color: #20221E;
    text-align: justify;
}

.mentiTxt{
    margin-left: 5vw;
    margin-right: 5vw;
}


.petitecase {
    width: 5.8vw;
}

.moyennecase {
    width: 9.8vw;
}

.coor{
    height: 38.5vw;
}

.coor input{
    margin-bottom: 0.6vw;
}

.paie{
    height: 19.15vw;
}

.mont{
    height: 10.75vw;
}

.paie input{
    margin-bottom:  1.2vw;
}

.paie input:nth-child(4), .paie input:nth-child(5){
    width: 7.5vw;
}

.menti_reduit{
    display: none;
}

.header_title_menti{
    position: absolute;
    margin-top: 1.25vw;
    left: 9vw;
    font-family: Raleway;
    font-size: 2vw;
    text-transform: uppercase;
}
.lien_mention{
    color: #18C1FF;
}





/* Responsive */

@media only screen and (max-width: 450px) {
    body{
        width: 100%;
    }
    header{
        color: #FFFCF0;    
    }
    .nav_bar{
        height: max-content;
    }
    .menu{
        position: relative;
        width: 83px;
        height: 64px;
        font-size: 54px;
        line-height: 64px;
    }
    .menu_icon{
        width: 83px;
        height: 64px;
        font-size: 54px;
        line-height: 64px;
    }
    .header_title{
        margin-top: 22px;
        left: 91px;

        font-size: 20px;
    }
    .donation_button{
        width: 36%;
        height: 32px;
        margin-top: 16px;
        right: 10px;
        border-radius: 50px;
        z-index: 10;
    }
    .donation_button_content{
        height: 16px;
        margin-top: 9px;
    
        font-size: 16px;
    }
    .banner{
        width: 100%;
        height: 187px;
    }
    .logo{
        width: 168px;
        height: 168px;
        top: 9px;
    }

    /* Menu */
    .menu_list {
        position: absolute;
        margin-top:64px;
        width: 100%;
    }
    .menu_list ul li{
        width: 100%;
        height: 64px;
        justify-content: center;
    }
    .menu_list ul a li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
        padding: 0;
    }
    .menu_list ul a li img{
        position: absolute;
        width: 48px;
        height: 48px;
        margin-left: 74.1%;
    }
    .name{
        width: 78.5%;
        line-height: 62px;
        border-bottom: none;
    }
    .menu ul a li .name:last-child{
        border-bottom: #FFFCF0 solid 1px;
    } 

    /* Contenu de la page */

    .title{
        margin-top: 32px;
    
        font-size: 30px;
        line-height: 26px;
    }
    .content{
        width: 90%;
        margin: 10px 0px 10px 0px;
        font-size: 16px;
        line-height: 25px;
    }

    /* Accueil */
    .cta_bar{
        height: 34.25%;
        margin-top: 10px;
        box-shadow: 0px 5px 4px rgb(0,0,0,0.25);
    }
    .donation_explain{
        margin: 25px auto 0px auto;
        height: 67px;
        font-size: 16px;
        line-height: 25px;
    }
    #a_cta_button{
        width: 40%;
    }
    .cta_bar_button{
        margin-top: 17px;
        margin-bottom: 12px;
        width: 100%;
        height: 33px;
        
        border-radius: 33px;
    }
    .cta_bar_button_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 16px;
        line-height:19px;
    }
    .act_button{
        width: 75.25%;
        height: 156px;
        margin: 20px auto auto auto;
        border-radius: 30px;
    }
    .act_button_content{
        font-size: 30px;
    }

    /* Actualités */
    .article{
        display: flex;
        flex-direction: column;
        padding: 5.89%;
        margin-left: 3.84%;
        margin-right: 3.84%;
        height: auto;
    }
    .image {
        position: relative;
        right: auto;
        width: 100%;
        height: 71.33%;
        border-radius: 15px;    
    }
    .article_title{
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 9px 0px 0px 0px;
    }
    .article_content{
        width: 100%;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        margin: 9px 0px 0px 0px;
        
    }
    
    /* Agenda */

    .event{
        width: 92.3%;
        height: max-content;
        overflow: hidden;
        border-radius: 25px;
    }
    .event_title{
        display: flex;
        align-items: center;
        width: 100%;
        line-height: 25px;
        text-align: center;
        justify-content: center;
        height: 63px;
        font-size: 16px;
        padding: 0;
        margin: 0;
        
    }
    .event_description{
        display: flex;
        justify-content: center;
        position: relative;
        width: 80.5%;
        padding: 0;
        margin-top: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    .event_description p{
        
        padding: 0;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
    }
    /* Contact */
    
    
    .contact {
        background-color: #289400;
        position: relative;
        display: inline-block;
        color : white;
        border-radius: 3.125vw;
        color: #FFFCF0;
        width: 92.3076923077%;
        height: 292px;
        text-align: center;
        margin-left: 3.84615384615%;
    }
    
    .email {
        line-height: normal;
        padding-top: 28px;
        font-family: Raleway;
        color: #FFFCF0;
        text-align: center;
        font-size: 28px;
    }
    
    .phone {
        padding-top: 18px;
        font-family: Raleway;
        color: #FFFCF0;
        text-align: center;
        font-size: 28px;
        line-height: normal;
    }
    
    .reseaux {
        line-height: normal;
        padding-top: 18px;
        font-family: Raleway;
        color: #FFFCF0;
        text-align: center;
        font-size: 28px;
    }
    
    .email_txt {
        line-height: normal;
        color: #FFFCF0;
        font-family: Nunito;
        font-size: 22px;
    }
    
    .phone_txt {
        line-height: normal;
        line-height: normal;
        color: #FFFCF0;
        font-family: Nunito;
        font-size: 22px;
    }
    
    .reseaux_txt {
        line-height: normal;
        color: #18C1FF;
        font-family: Nunito;
        font-size: 22px;
    }
    
    .email img {
        line-height: normal;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    
    .phone img {
        line-height: normal;
        width: 25px;
        height: 26px;
        flex-shrink: 0;
    }

    /* Don */
    .lesTrois {
        flex-direction: column;
        text-align: center;
        margin: 0%;
        width: 100%;
                
    }

    .don {
        align-items: center;
        width: 98%;
        height: auto;
        margin-bottom: 5%; /* Espace entre les divs */
    }

    .mont, .coor, .paie {
        width: 98%;
        position: relative;
        font-size: 16px;
        height: auto;
        border-radius: 25px;
        padding-bottom: 10px;
    }

    .checkstyle{
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }



    form h1{
        font-size: 36px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    form label{
        font-size: 16px;
    }
    
    form ::placeholder{
        font-size: 20px;
    }
    
    form input{
        height: 74px;
        width: 330px;
        margin: 4px;
        border-radius: 25px;
    }


    .petitecase {
        width: 116px;
    }
    
    .moyennecase {
        width: 196px;
    }

    .paie input:nth-child(4), .paie input:nth-child(5){
        width: 156px;
    }


    .valid{
        border-radius: 25vw;
        font-size: 36px;
        width:202px;
        height: 64px;
    }

    .mentiTxt h1{
        font-size: 28px;
    }

    .mentiTxt p,ul{
        font-size: 18px;
    }

    .header_title_menti{
        display: none;
    }

    .menti_reduit{
        display: block;
        margin-top: 22px;
        left: 91px;
        text-transform: uppercase;
        font-size: 20px;
        font-family: Raleway;
        left: 91px;  
    }

    /* Footer */
    footer{
        height: 39px;
        margin-top: 35px;
    }

    .footer_content{
        margin-left: 3.25%;
        font-size: 8px;
        line-height: auto;
    }

    /* Hover */
    .menu:hover{
        width: 100%;
        height: 448px;
    }
    .menu_icon:hover{
        font-size: 58px;
    }
    }